.header {
  background-color: cornflowerblue;
  border: 2px solid black;
  margin-bottom: 5px;
  color: white;
}
.tcolor {
  border: 1px solid black;
  margin-bottom: 5px;
}
h3 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5px;
}
.tallign {
  border: 1px solid black;
  margin-bottom: 5px;
}
.tdecor {
  border: 1px solid black;
  margin-bottom: 5px;
}
.ttransfom {
  border: 1px solid black;
  margin-bottom: 5px;
}
.tspace {
  border: 1px solid black;
  margin-bottom: 5px;
}
.ff {
  border: 1px solid black;
  margin-bottom: 5px;
}
.webfonts {
  border: 1px solid black;
  margin-bottom: 5px;
}
.fss {
  border: 1px solid black;
  margin-bottom: 5px;
}
#p1 {
  color: red;
}
#p2 {
  color: #00ff00;
}
#p3 {
  color: rgb(0, 0, 255);
}
#p5 {
  text-align: center;
}
#p6 {
  text-align: right;
}
#p7 {
  text-align: justify;
}
#p8 {
  text-decoration: underline;
}
#p10 {
  text-decoration: overline;
}
#p9 {
  text-decoration: line-through;
}
#p11 {
  text-transform: lowercase;
}
#p12 {
  text-transform: uppercase;
}
#p13 {
  text-transform: capitalize;
}
#p14 {
  word-spacing: 20px;
}
#p15 {
  font-family: fantasy;
}
#p16 {
  font-family: sans-serif;
}
#p17 {
  font-family: arial;
}
#p18 {
  font-family: verdana;
}
#p19 {
  font-family: "Times New Roman";
}
#p20 {
  font-family: courier new;
}
#p22 {
  font-style: italic;
}
#p21 {
  font-style: normal;
}
#p23 {
  font-style: oblique;
}
#p24 {
  font-size: 20px;
}
#p25 {
  font-size: 2em;
}
#p26 {
  font-size: 3rem;
}
#p27 {
  font-size: 80%;
}
